<body>
    <div class="callout callout--primary">
     <div class="grid grid--1x2">
       <div class="callout__content">
         <h2 class="callout__heading">Ready to get start</h2>
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi repellendus asperiores amet vel sed mollitia maxime. Molestiae ut quibusdam ad ullam cum, adipisci quia! Totam perferendis exercitationem dolore autem odit!</p>
       </div>
       <a href="Get started" class="btn btn--stretched btn--secondary">get started</a>
     </div>
    </div>