<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>

      <div class="icon icon--white collapsible__chevron">
        <img src="Images/chevron.svg" alt="" />
      </div>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia enim
      maiores inventore tempora, harum dolorum sit quibusdam asperiores quas,
      quasi nam iure minima, esse consectetur magnam debitis. Quos, fugit
      sapiente.
    </div>
  </div>
  <script src="js/main.js"></script>