<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt dolore, perferendis corporis laborum possimus debitis inventore accusantium beatae, nobis officia veniam tempora nesciunt nostrum, in accusamus natus aspernatur repellendus similique.</p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="Images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class = "media__title quote__author">John Smith</h3>
          <p class="quote__organization">
          ABC company
          </p>
        </div>
      </div>
    </footer>
  </blockquote>