<section class="block container">
    <div class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Consequuntur, est nam veniam atque modi commodi, assumenda quae
        incidunt laboriosam placeat, unde fuga nihil? Quos ducimus, nemo
        temporibus exercitationem quidem velit?
      </p>
    </div>

    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, ex
          odit reiciendis ratione nemo inventore, hic cum eaque suscipit
          dolores officia beatae est voluptates voluptate porro exercitationem
          autem rerum quia?
        </div>
      </div>
    </div>
  </section>

  <section class="block block--dark block--skewed-right">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Consequuntur, est nam veniam atque modi commodi, assumenda quae
        incidunt laboriosam placeat, unde fuga nihil? Quos ducimus, nemo
        temporibus exercitationem quidem velit?
      </p>
    </div>
  </section>